x-common-build: &common-build
  image: zbar-builder:latest
  build:
    context: .
  working_dir: /src
  volumes:
    - .:/src

services:
  sh:
    <<: *common-build
    command: ['bash']
  build:
    <<: *common-build
    command: ['make', 'build']
